<!-- The resume board -->
<div class="demo-card-wide mdl-card mdl-shadow--2dp">

    <!-- name -->
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">
            Jun Yin
        </h2>
    </div>


    <!-- title -->
    <div class="mdl-card__subtitle" id="title">
        <h2 class="mdl-card__subtitle-text">
            Web Developer
        </h2>
    </div>

    <!-- short description -->
    <div class="mdl-card__supporting-text">

        <p>
            I am an enthusiastic web developer focusing on front-end development. In order to build expressive, interactive, and creative web applications, I am proficient in HTML5, CSS, and javascript (the MEAN stack, including MongoDB, Express.js, Angular.js, Node.js). In addition, I have some knowledge about python, SQL database, and java. As I dig deeper into the web development, my skill grows.

            Currently, I am working towards a Master's degree in Instructional Technology and Media at Teachers College Columbia University. The program is a combination of coding, interactive design, education, and media theory. As a former language teacher, this program serves as my bridge into the tech field.

            In addition to coding, I also read, write, and go to meetups. When I am not coding, I enjoy tasting delicious food in New York City, travel around US,  draw comics, and cook.

        </p>
    </div>


    <!-- contact info -->
    <div id="contact-info">

        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--1-col">
            </div>

            <div class="mdl-cell mdl-cell--3-col">
                <i class="material-icons">location_on</i>
                <div class="mdl-list__item-text-body">
                    New York, NY
                </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col">
                <i class="material-icons">email</i>
                <div class="mdl-list__item-text-body">
                    jun.yin.columbia@gmail.com
                </div>
            </div>
            <div class="mdl-cell mdl-cell--3-col">
                <i class="material-icons">phonelink_ring</i>
                <div class="mdl-list__item-text-body">
                    609-214-0747
                </div>
            </div>
            <div class="mdl-cell mdl-cell--1-col">
            </div>
        </div>
    </div>

    <div class="mdl-card__actions mdl-card--border">
        <h4>Experience</h4>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col">4</div>
            <div class="mdl-cell mdl-cell--4-col">4</div>
            <div class="mdl-cell mdl-cell--4-col">4</div>
        </div>
    </div>

    <div class="mdl-card__actions mdl-card--border">
        <h4>Education</h4>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col">4</div>
            <div class="mdl-cell mdl-cell--4-col">4</div>
            <div class="mdl-cell mdl-cell--4-col">4</div>
        </div>
    </div>

    <div class="mdl-card__actions mdl-card--border">
        <h4>Projects</h4>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col">4</div>
            <div class="mdl-cell mdl-cell--4-col">4</div>
            <div class="mdl-cell mdl-cell--4-col">4</div>
        </div>
    </div>


    <div class="mdl-cell mdl-cell--4-col">
        <contInfo></contInfo>
    </div>

    <footer class="docs-text-styling docs-footer mdl-mini-footer mdl-color--grey-900">
        <div id="author">

            created with 💗 by Jun @ 2016

        </div>

    </footer>
</div>